<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <!-- To set source path to class path, search "build configuration" in help -->
    <!-- Instantiates ReviewPlugin when workbench starts up -->
  <extension point="org.eclipse.ui.startup"></extension>
  <!-- Registers Code Review Editor table -->
  <extension point="org.eclipse.ui.views">
    <category
        name="%categoryName"
        id="edu.hawaii.ics.csdl.jupiter.ui.views">
    </category>
    <view
        name="%viewName"
        icon="icons/jupiter.gif"
        category="edu.hawaii.ics.csdl.jupiter.ui.views"
        class="edu.hawaii.ics.csdl.jupiter.ui.view.table.ReviewTableView"
        id="edu.hawaii.ics.csdl.jupiter.ui.view.table">
    </view>
    <view
        name="%editorName"
        icon="icons/jupiter.gif"
        category="edu.hawaii.ics.csdl.jupiter.ui.views"
        class="edu.hawaii.ics.csdl.jupiter.ui.view.editor.ReviewEditorView"
        id="edu.hawaii.ics.csdl.jupiter.ui.view.editor">
    </view>
  </extension>
  <extension point="org.eclipse.ui.popupMenus">
    <objectContribution 
        id="edu.hawaii.ics.csdl.jupiter.action.contribution.popup.objectIFile"
        objectClass="org.eclipse.core.resources.IFile"
   		adaptable="true">
   	  <action
      		label="%actionLabel"
      		icon="icons/jupiter.gif"
     	 	helpContextId="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
      		class="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
      		menubarPath="add"
      		enablesFor="1"
      		id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
   	  </action>
	</objectContribution>
    <!-- Registers code review action to the menu of CompilationUnit which can be seen in Java perspective. -->
    <!--
    <objectContribution
        objectClass="org.eclipse.jdt.core.ICompilationUnit"
        id="edu.hawaii.ics.csdl.jupiter.ui.action.contribution.popup.objectICompilationUnit">
      <filter
          name="projectNature"
          value="org.eclipse.jdt.core.javanature"></filter>
      <action
            class="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
            enablesFor="1"
            helpContextId="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
            icon="icons/jupiter.gif"
            id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
            label="%actionLabel"
            menubarPath="add"></action>
    </objectContribution>
    -->
    <!-- Registers code review action to the IMember which gives the menu in a class.-->
    <!--
    <objectContribution
        objectClass="org.eclipse.jdt.core.IMember"
        id="edu.hawaii.ics.csdl.jupiter.ui.action.contribution.popup.member.objectICompilationUnit">
      <action
          label="%actionLabel"
          icon="icons/jupiter.gif"
          helpContextId="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          class="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          menubarPath="add"
          enablesFor="1"
          id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
      </action>
    </objectContribution>
    -->
    <!-- Registers code review action to the menu of IFile which can be seen in Resource perspective. -->
    <!--
    <objectContribution 
        id="edu.hawaii.ics.csdl.jupiter.action.contribution.popup.objectIFile"
        objectClass="org.eclipse.core.resources.IFile">
      <action
          id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate" 
          label="%actionLabel"
          icon="icons/jupiter.gif"
          helpContextId="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate" 
          menubarPath="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate" 
          class="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          enablesFor="1">
      </action>
    </objectContribution>
    -->
    <!-- Registers to the context menu of the text editor.-->
    <viewerContribution
        targetID="#TextEditorContext"
        id="edu.hawaii.ics.csdl.jupiter.ui.action.contribution.popup.texteditor">
      <action
          id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate" 
          label="%actionLabel"
          icon="icons/jupiter.gif"
          helpContextId="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate" 
          menubarPath="additions" 
          class="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
      </action>
    </viewerContribution>
    <!-- Registers to the ruler menu of the text editor.-->
	  <viewerContribution 
		    targetID="#TextRulerContext"
        id="edu.hawaii.ics.csdl.jupiter.ui.action.contribution.popup.texteditor">
         <action
               label="%actionLabel"
               icon="icons/jupiter.gif"
               helpContextId="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
               class="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
               menubarPath="additions"
               id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
         </action>
  	</viewerContribution>
    <!-- Registers to the context menu of the compilation unit editor.-->
    <!--
    <viewerContribution
        targetID="#CompilationUnitEditorContext"
        id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
      <action
          label="%actionLabel"
          icon="icons/jupiter.gif"
          helpContextId="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          class="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          menubarPath="additions"
          id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
      </action>
    </viewerContribution>
    -->
    <!-- Registers to the ruler menu of the compilation unit editor.-->
    <viewerContribution
        targetID="#CompilationUnitRulerContext"
        id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
      <action
          label="%actionLabel"
          icon="icons/jupiter.gif"
          helpContextId="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          class="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          menubarPath="add"
          id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
      </action>
    </viewerContribution>
    <!-- Registers to the context menu of the c editor.-->
    <!--
    <viewerContribution
        targetID="#CEditorContext"
        id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
      <action
          label="%actionLabel"
          icon="icons/jupiter.gif"
          helpContextId="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          class="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          menubarPath="additions"
          id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
      </action>
    </viewerContribution>
    -->
    <!-- Registers to the ruler menu of the c editor.-->
    <viewerContribution
        targetID="#CEditorRulerContext"
        id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
      <action
          label="%actionLabel"
          icon="icons/jupiter.gif"
          helpContextId="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          class="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          menubarPath="add"
          id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
      </action>
    </viewerContribution>
    <!-- Registers to the context menu of the assembly editor.-->
    <viewerContribution
        targetID="#ASMEditorContext"
        id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
      <action
          label="%actionLabel"
          icon="icons/jupiter.gif"
          helpContextId="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          class="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          menubarPath="additions"
          id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
      </action>
    </viewerContribution>
    <!-- Registers to the ruler menu of the assembly editor.-->
    <viewerContribution
        targetID="#ASMEditorRulerContext"
        id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
      <action
          label="%actionLabel"
          icon="icons/jupiter.gif"
          helpContextId="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          class="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
          menubarPath="add"
          id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate">
      </action>
    </viewerContribution>
  </extension>
  <!-- Preferences -->
  <extension point="org.eclipse.ui.preferencePages">
    <page
        name="%pageNameGeneral"
        class="edu.hawaii.ics.csdl.jupiter.ui.preference.GeneralPreferencePage"
        id="edu.hawaii.ics.csdl.jupiter.ui.preference.GeneralPreferencePage">
    </page>
    <page
        name="%pageNameFilter"
        category="edu.hawaii.ics.csdl.jupiter.ui.preference.GeneralPreferencePage"
        class="edu.hawaii.ics.csdl.jupiter.ui.preference.FilterPreferencePage"
        id="edu.hawaii.ics.csdl.jupiter.ui.preference.FilterPreferencePage">
    </page>
    <page
        name="%pageNameView"
        category="edu.hawaii.ics.csdl.jupiter.ui.preference.GeneralPreferencePage"
        class="edu.hawaii.ics.csdl.jupiter.ui.preference.ViewPreferencePage"
        id="edu.hawaii.ics.csdl.jupiter.ui.preference.ViewPreferencePage">
    </page>
  </extension>
  <!-- Resgisters actions to the workbench window bar. -->
  <extension point="org.eclipse.ui.actionSets">
    <actionSet
        label="%actionSetLabel"
        visible="true"
        id="edu.hawaii.ics.csdl.jupiter.ui.actionSets">
      <action
            class="edu.hawaii.ics.csdl.jupiter.ui.action.PhaseSelectionActionDelegate"
            icon="icons/jupiter.gif"
            id="edu.hawaii.ics.csdl.jupiter.ui.action.PhaseSelectionActionDelegate"
            label="%actionSetActionLabel"
            style="pulldown"
            toolbarPath="Normal/additions"
            tooltip="%actionSetActionToolTip">
      </action>
      <action
            class="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
            definitionId="edu.hawaii.ics.csdl.jupiter.ui.command.ReviewAdditionActionDelegate"
            helpContextId="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
            icon="icons/jupiter.gif"
            id="edu.hawaii.ics.csdl.jupiter.ui.action.ReviewAdditionActionDelegate"
            label="%actionLabel">
       </action>
    </actionSet>
  </extension>
  <extension point="org.eclipse.ui.propertyPages">
    <page
        adaptable="true"
        objectClass="org.eclipse.core.resources.IProject"
        name="%propertyName"
        class="edu.hawaii.ics.csdl.jupiter.ui.property.ReviewPropertyPage"
        id="edu.hawaii.ics.csdl.jupiter.ui.property.ReviewPropertyPage">
    </page>
  </extension>
  <extension point="org.eclipse.ui.perspectives">
    <perspective name="%perspectiveName"
        icon="icons/jupiter.gif"
        class="edu.hawaii.ics.csdl.jupiter.ui.perspective.ReviewPerspectiveFactory"
        id="edu.hawaii.ics.csdl.jupiter.ui.perspective">
    </perspective>
  </extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="edu.hawaii.ics.csdl.jupiter.ui.perspective">
      <perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
      <perspectiveShortcut id="org.eclipse.ui.resourcePerspective"/>
      <perspectiveShortcut id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
      <perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
      <newWizardShortcut id="org.eclipse.jdt.ui.wizards.NewPackageCreationWizard"/>
      <newWizardShortcut id="org.eclipse.jdt.ui.wizards.NewClassCreationWizard"/>
      <newWizardShortcut id="org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard"/>
      <newWizardShortcut id="org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard"/>
      <newWizardShortcut id="org.eclipse.ui.wizards.new.folder"/>
      <newWizardShortcut id="org.eclipse.ui.wizards.new.file"/>
      <newWizardShortcut id="org.eclipse.jdt.ui.wizards.JavaProjectWizard"/>
      <viewShortcut id="org.eclipse.ui.views.ResourceNavigator"/>
      <viewShortcut id="org.eclipse.ui.views.ContentOutline"/>
      <viewShortcut id="org.eclipse.ui.views.ProblemView"/>
      <viewShortcut id="org.eclipse.jdt.ui.PackageExplorer"/>
      <viewShortcut id="org.eclipse.pde.runtime.LogView"/>
      <viewShortcut id="edu.hawaii.ics.csdl.jupiter.ui.view"/>
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
      <perspectiveShortcut id="edu.hawaii.ics.csdl.jupiter.ui.perspective"/>
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
      <perspectiveShortcut id="edu.hawaii.ics.csdl.jupiter.ui.perspective"/>
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.pde.ui.PDEPerspective">
      <perspectiveShortcut id="edu.hawaii.ics.csdl.jupiter.ui.perspective"/>
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
      <perspectiveShortcut id="edu.hawaii.ics.csdl.jupiter.ui.perspective"/>
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
      <perspectiveShortcut id="edu.hawaii.ics.csdl.jupiter.ui.perspective"/>
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
      <perspectiveShortcut id="edu.hawaii.ics.csdl.jupiter.ui.perspective"/>
    </perspectiveExtension>
  </extension>
  <extension point="org.eclipse.core.resources.markers"
             id="reviewmarker"
             name="%reviewMakerName">
      <super type="org.eclipse.core.resources.textmarker" />
      <persistent value="false" />
      <attribute name="issueId" />     
      <attribute name="summary" />
      <attribute name="description" />
      <attribute name="message" />
   </extension>
   <extension point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider id="edu.hawaii.ics.csdl.jupiter.reviewMarkerProvider"
            markertype="edu.hawaii.ics.csdl.jupiter.reviewmarker"
            icon="icons/review_marker.gif">
      </imageprovider>
   </extension>
   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type name="edu.hawaii.ics.csdl.jupiter.texteditor.review"
         markerType="edu.hawaii.ics.csdl.jupiter.reviewmarker">
      </type>
   </extension>
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
     <specification
            annotationType="edu.hawaii.ics.csdl.jupiter.texteditor.review"
            label="%reviewSpecificationLabel"
            textPreferenceKey="reviewIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="reviewIndicationHighlighting"
            highlightPreferenceValue="false"
            contributesToHeader="true"
            overviewRulerPreferenceKey="reviewIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="reviewIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true"
            colorPreferenceKey="reviewIndicationColor"
            colorPreferenceValue="200,72,255"
            presentationLayer="1"
            showInNextPrevDropdownToolbarActionKey="showReviewInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isReviewGoToNextNavigationTarget"
            isGoToNextNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="isReviewGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="true">
      </specification>
   </extension>
   <extension point="org.eclipse.ui.ide.markerResolution">
     <markerResolutionGenerator markerType="edu.hawaii.ics.csdl.jupiter.reviewmarker"
		                       class="edu.hawaii.ics.csdl.jupiter.ui.marker.ReviewMarkerResolutionGenerator">
     </markerResolutionGenerator>
   </extension>
   <!-- Define review file type -->
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="review"
            type="text"/>
      <fileTypes
            extension="jupiter"
            type="text"/>
   </extension>
   <extension
         id="edu.hawaii.ics.csdl.jupiter.bindings"
         name="Jupiter Keybindings"
         point="org.eclipse.ui.bindings">
      <key
            commandId="edu.hawaii.ics.csdl.jupiter.ui.command.ReviewAdditionActionDelegate"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+R">
      </key>
   </extension>
   <extension
         id="edu.hawaii.ics.csdl.jupiter.ui.commands"
         name="Jupiter Commands"
         point="org.eclipse.ui.commands">
      <category
         id="edu.hawaii.ics.csdl.jupiter.ui.commands.category"
         name="Jupiter">
      </category>   
      <command
            categoryId="edu.hawaii.ics.csdl.jupiter.ui.commands.category"
            id="edu.hawaii.ics.csdl.jupiter.ui.command.ReviewAdditionActionDelegate"
            name="Add Review Issue">
      </command>
   </extension>
</plugin>
